$bgGrey: #1c1c1c;
$elementGrey: #212121;
$cardGrey: #2d2d2d;
$textGrey: #474747;

$primaryTeal: #008688;
$lightTeal: #00a5a8;

$primaryBlue: rgb(0, 102, 255);
$secondaryBlue: rgb(0, 44, 105);

body {
  background-color: $bgGrey !important;
  color: white !important;
  font-family: monospace !important;
}

.modal-content {
  border-radius: 0 !important;
  background-color: $elementGrey !important;
}
.modal-body {
  padding: 0 !important;
}
.model_links {
  button {
    width: 100%;
    border: 0;
    background-color: transparent;
    color: white;
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid #5e5e5e;
    &:hover {
      background-color: #00676967;
    }
  }
}
.model_links :nth-child(5) button {
  border: none;
}

.site_wrapper {
  display: flex;
  padding: 0 !important;
  background-color: $elementGrey;
}

.mobile_nav {
  display: none;
  padding: 1rem;
  border-bottom: 1px solid #5e5e5e;
  background-color: $elementGrey;
  position: sticky;
  top: 0;
  left: 0;
  h2 {
    color: $lightTeal;
    margin: 0;
    font-weight: 700;
    line-height: 1;
  }
  button {
    border: 0;
    padding: 0.5rem 1.5rem;
    background-color: $lightTeal;
    &:hover {
      background-color: $primaryTeal;
    }
  }
}
.side_nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: $cardGrey;
  a {
    display: block;
    text-decoration: none;
  }
  h2 {
    color: $lightTeal;
    font-weight: 600;
    margin: 1.5rem 0;
    text-align: center;
  }
  .nav_tabs :nth-child(5) {
    border-bottom: 1px solid #5e5e5e;
  }
  button {
    width: 100%;
    background-color: transparent;
    color: white;
    border: 0;
    border-top: 1px solid #5e5e5e;
    padding: 0.5rem 1rem;
    text-align: left;
    &:hover {
      background-color: #00676967;
    }
  }
}

.main {
  width: 100%;
}
.hero_sec {
  height: 100vh;
  display: flex;
  flex-direction: column;

  h1 {
    margin-top: 4rem;
    text-align: center;
    font-weight: 700;
  }
  p {
    margin-bottom: 1rem;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
  }
  img {
    width: 300px;
    margin: 0 auto;
  }
  button {
    border: 0;
    background-color: $lightTeal;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    &:hover {
      background-color: $primaryTeal;
    }
  }
}

// Error page
.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h5 {
    text-align: center;
    margin-bottom: 1rem;
  }
  img {
    width: 350px;
    margin: 0 auto;
  }
  a {
    margin: 0 auto;
  }
  button {
    border: 0;
    padding: 0.5rem 1.5rem;
    background-color: $lightTeal;
    font-weight: 600;
    &:hover {
      background-color: $primaryTeal;
    }
  }
}

// About page
.about_sec,
.rules_sec {
  h2 {
    color: $lightTeal;
    margin-bottom: 1rem;
  }
  p,
  li {
    color: rgb(176, 176, 176);
  }
  li {
    margin-bottom: 1rem;
  }
}

// Group chat page
.Chatroom_wrapper,
.OneChat_wrapper,
.nsfw_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  .chatarea {
    .container {
      display: flex;
      flex-direction: column-reverse;
    }
    padding: 1rem 0;
    padding-bottom: 120px;
    height: 100vh;
    overflow: auto;
  }
  .send_wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid grey;
    background-color: $elementGrey;
    select {
      border-radius: 0;
      border: 0;
      padding: 5px 10px;
    }
    input {
      border: 1px solid grey;
      background-color: #2d2d2d;
      outline: 0;
      color: rgb(155, 155, 155);
      padding: 4px 8px;
      width: 100%;
    }
    button {
      width: fit-content !important;
      border: 0;
      color: white;
      background-color: $primaryTeal;
      padding: 0.3rem 1rem;
      font-weight: 500;
      &:hover {
        background-color: $lightTeal;
      }
    }
  }
}

.msg {
  display: flex;
  border: 1px solid #5e5e5e;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  .text_area {
    h6 {
      color: #cbcbcb;
      margin: 0;
    }
    p {
      margin-bottom: 5px;
      #timestamp {
        color: #cecece;
      }
      #username {
        margin-left: 0.5rem;
        color: $lightTeal;
        font-weight: 500;
      }
    }
  }
  .avatar {
    width: 40px;
    min-height: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    background-color: #333333;
    padding: 5px;
    margin-right: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.join_modal {
  .modal-content {
    padding: 1.5rem !important;
    .modal-header {
      padding: 0 !important;
      border-bottom: 0 !important;
      .modal-title {
        h2 {
          color: #00a5a8;
          font-weight: 600;
          text-align: center;
        }
        margin-right: 1.5rem;
        font-size: 1.2rem !important;
      }
    }
    .modal-body {
      padding: 0 !important;
      p {
        margin-bottom: 0.5rem;
        margin-top: 1rem;
      }
      input {
        width: 100%;
        margin-bottom: 1rem !important;
        border: 1px solid grey;
        background-color: #2d2d2d;
        outline: 0;
        color: rgb(155, 155, 155);
        padding: 4px 8px;
        width: 100%;
      }
      button {
        width: fit-content !important;
        border: 0;
        color: white;
        background-color: #008688;
        padding: 0.3rem 1rem;
        font-weight: 500;
        &:hover {
          background-color: #00a5a8;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .chatarea {
    height: calc(100vh - 130px) !important;
  }
  .site_wrapper {
    flex-direction: column;
  }
  .mobile_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $elementGrey;
    z-index: 10;
  }
  .side_nav {
    display: none;
  }

  .text_area {
    h6 {
      color: #cbcbcb;
      margin: 0;
      font-size: 0.85rem;
    }
    p {
      font-size: 0.85rem;
    }
  }
}
